#liste{
    display: flex;
    justify-content: space-around;
    font-size: larger;
    position: relative;
}
.tableau{
    border: 2px solid #79cdda;
    height: 65%;
    margin: 4%;
    margin-top: 7%;
    border-radius: 10px;
}
.th1{
    position: absolute;
    color: #8b7e6e;
    font-size: larger;
}
.th2{
  position: relative;
  right: 15%;
  color: #8b7e6e;
  font-size: larger;
}
.th3{
    position: relative;
  right: 15%;
  color: #8b7e6e;
  font-size: larger;
}
td{
  color: #95897b;
  
  font-size: larger;
}
table{
    font-size: larger;
    position: relative;
    width: 100%;
    padding-left: 10%;
}
.titre{
    top: 8%;
    position: relative;
    text-align: center;
    color: #8b7e6e;
    font-size: 30px;
}
.btn1{
    margin-top: -1%;
    height: 45px;
    margin-left: 10%;
    padding: 10px;
    width: 170px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.btn2{
    margin-top: -1%;
    height: 45px;
    margin-left: 30%;
    padding: 10px;
    width: 170px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
